.masonry-gallery-outer{
	@include flex;
	flex-wrap:wrap;
	transition:.15s ease-in-out;
.item{
	width:32%;
	margin:.25em;
}
	.item img{
		filter:brightness(50%);
		cursor:pointer;
		transition:.15s ease-in-out;
	}
	.item img:hover{filter:brightness(75%);}
	.item.active img{filter:brightness(100%);}
}
@media(max-width:$tablet-width){
	.item{
		width:45% !important;
	}
}
@media(max-width:$mobile-width){
	.item{
		width:100% !important;
	}
}