@media (max-width: $tablet-width){
	.vision-contact{
		.contact-page-form-container{
			margin-top:65px;
		}
	}	
	.vision-faq{
		padding:2em 2em !important;
	}
	.vision-historic{
		.row:nth-of-type(2){
			>div{
				width:100% !important;
				text-align: center;
			}
		}
	}
	.vision-gallery{
		padding:.5em !important;
	}
	.vision-amenities{
		.gallery-row{
			.gallery-outer{
				.gallery-item{
					width:60vw;
				}
			}
		}
	}
	.vision{
		padding:2em !important;
		.row{
			flex-direction:column !important;
			.content{
				display:flex;
				justify-content:center !important;
				align-items:center !important;
				flex-direction:column !important;
				.rl-list{
					flex-direction:column !important;
				}
				ul{width:100% !important;}
				h3,h4,p{text-align:center;}
				}
			img{
			width:100% !important;
			margin-bottom:1em;
			margin-top:1em;
			}
		}
	}
	.vision-neighborhood{
	.options{
		.option{
			width:80%;
		}
	}
	.row{
		.col{
			margin:1.5em auto;
			width:90% !important;
			height:auto;
			img{
				width:auto !important;
				height:auto;
			}
		}
	}
}
	.vision-apply,.vision-portal{
			iframe{
		height:500px !important;
		width:auto !important;
	}
	}
}
@media(max-width:$mobile-width){
	.amenities-image-row{
		flex-direction: column;
		img{
			width:50% !important;
			margin:.5em auto !important;
		}
	}
}