.vision{
	padding:1em 6em;
	overflow-x:hidden;
	min-height:$vision-height;
	.row{
		@include flex(row, space-evenly, center);
		.content{
		width:50%;
			.rl-list{
				@include flex(row, space-evenly, flex-start);
				ul{
					margin:0;
					width:45%;
					li{
						margin:.25em 0;
						text-transform:capitalize;
					}
				}
			}
	}
	img{
		width:40%;
		max-width:400px;
	}
	h3{
		text-transform:uppercase;
		font-size:1.5em;
	}
	h4{
		font-size:1.15em;
		margin:1.15em 0;
	}
	h3,h4{
		color:$flin-black;
		letter-spacing:1.25px;
	}
	p{
		margin-bottom:1.5em;
		color:$flin-gray;
	}
	}	
}

.vision-historic{
	@extend .vision;
	.row:nth-of-type(2) > div{
		width:50%;
	}
	.triangle-1{
		background-image:url($slider-2-bg);
		position:relative;
		top:-15px;
	}
	.triangle-2{
		background-image:url($schedule-bg);
	}
}
.vision-faq{
	.faq-questions{
		width:100%;
		.faq-question{
			border:2px solid $flin-light-gray;
			width:100%;
			padding:1em;
			cursor:pointer;
			margin-bottom:.25em;
			.question-row{
				@include flex(row, space-between, center);
			}
			.question{
				font-weight:700;
				margin:0;
				padding:0;
			}
			.answer{
				background:$flin-light-gray;
				display:none;
				opacity:0;
				padding:1em;
				margin-top:1em;
				table{
					margin:0;
				}
				strong{
					font-size:26px;
				}
			}
			.question-toggle{
				font-size:40px;
				background:$flin-light-gray;
				margin:0;
				padding:.1em .5em;
				color:$flin-black;
				font-weight:700;
			}
		}
		.faq-question.active{
			.answer{
				display:block;
				opacity:1;
			}
		}
	}
	@extend .vision;
	.triangle-1{
		background-image:url($faq-top-bg);
		background-position:center;
		position:relative;
		top:-4.5em;
	}
	.triangle-2{
		background-image:url($slider-2-bg);
	}
	.triangle-3{
		background-image:url($slider-2-bg);
	}
	.triangle-4{
		background-image:url($slider-1-bg);
	}
}
.vision-portal{
	@extend .vision;
	.triangle-1{
		background-image:url($portal-top-bg);
		background-position:center;
		position:relative;
		top:-4.5em;
	}
	.triangle-2{
		background-image:url($portal-slider-bg);
	}
	.triangle-3{
		background-image:url($portal-slider-bg);
	}
}
.vision-contact{
	@extend .vision;
	.triangle-1{
		background-image:url($contact-top-bg);
		background-position:center;
		position:relative;
		top:-4.5em;
	}
	.contact-page-form-container{
		background:$flin-light-gray;
		@include flex(column, center, center);
		padding:1.5em;
		h2{
			font-size:1em;
			font-weight:700;
		}
		.gfield_label{
			display:none;
		}
		ul, li{
			margin:0;
		}
		ul{
			margin-top:1em;
			list-style-type: none;
		}
		li{
			margin:.5em 0;
		}
		p{
			text-align: center;
			color:$flin-navy;
		}
		input[type="submit"]{
			background:$flin-navy;
			padding:.35em 1.15em;
			font-family:$sub-header-font;
			margin-bottom:1em;
		}
		#gform_4{
			margin:0;
			@include flex(column, center, center);
		}
	}
}
.vision-apply{
	@extend .vision;
	.triangle-1{
		background-image:url($apply-top-bg);
		background-position:center;
		position:relative;
		top:-4.5em;
	}
	.triangle-2{
		background-image:url($apply-slider-bg);
	}
	.triangle-3{
		background-image:url($apply-slider-bg);
	}
}
.vision-gallery{
	@extend .vision;
	.triangle-1{
		background-image:url($gallery-top-bg);
		background-position:center;
		position:relative;
		top:-4.5em;
	}
	.triangle-2{background-image:url($slider-2-bg);}
		.triangle-3{background-image:url($slider-2-bg);}
}
.vision-home{
	@extend .vision;
	.triangle-1{
		background-image:url($slider-1-bg);
		top:-15px;
		position:relative;
	}
	.triangle-2{background-image:url($slider-2-bg);}
	.triangle-7{
		background-image:url($slider-2-bg);
	}
}
.vision-amenities{
	/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-row::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-row {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
	.gallery-row{
		overflow:scroll;
		justify-content:flex-start;
		align-items:flex-start;
		margin:0 auto;
		.gallery-outer{
			.gallery-item{
				width:33vw;
			}
		}
	}
	@extend .vision;
	.triangle-3{
		background-image:url($amenities-top-bg);
		background-position:center;
		position:relative;
		top:-4.5em;
	}
	.triangle-4{background-image:url($slider-3-bg);}

	.triangle-5{background-image:url($slider-4-bg);}
	.triangle-7{
		background-image:url($slider-4-bg);
	}
}
.vision-history{
	@extend .vision;
	.triangle-1{
		background-image:url($history-top-bg);
		background-position:top;
		position:relative;
		top:-4.5em;
	}
	.triangle-2{background-image:url($history-slider-1-bg);}
	.triangle-3{background-image:url($history-slider-1-bg);}
	.triangle-4{background-image:url($history-slider-2-bg);}
	.triangle-5{background-image:url($history-slider-2-bg);}
	.triangle-6{background-image:url($history-slider-3-bg);}
}
.vision-floorplans{
	@extend .vision;
	h4{
		margin-bottom:.5em;
	}
	.triangle-1{
		background-image:url($floorplans-top-bg);
		position:relative;
		top:-4.5em;
		background-position:center;
	}
	.triangle-2{background-image:url($floorplans-slider-2-bg);}
		.triangle-3{background-image:url($floorplans-slider-2-bg);}
}

.vision-neighborhood{
	.bars{
		display:flex;
		justify-content: flex-start;
		ul{
			margin-bottom:0;
			margin-left:0;
			li{
				margin-right:.75em;
			}
		}
	}
	.options{
		.row{
			margin:2% auto;
			@include flex;
			.option{
				width:33%;
				height:275px;
				margin:.5em auto;
				display:flex;
				align-items:flex-end;
				&:hover{
					.overlay{
						height:80%;
					}
				}
				.overlay{
					background:$life-overlay-bg;
					height:50%;
					width:100%;
					transition:$transition;
					@include flex(column, space-evenly, center);
					cursor:pointer;
					h4{
						color:white;
						font-weight:bold;
						font-size:1.5em;
						margin:.25em auto;
					}
				}
			}
			.option-1{
				@extend .option;
				@include fillImage($eat-image, center);
			}
			.option-2{
				@extend .option;
				@include fillImage($shop-image, center);
			}
			.option-3{
				@extend .option;
				@include fillImage($play-image, center);
			}

		}
	}
	@extend .vision;
	.triangle-1{
		background-image:url($neighborhood-top-bg);
		background-position:top;
		position:relative;
		top:-4.5em;
	}
	.triangle-2{
		background-image:url($neighborhood-slider-1-bg);
	}
	.triangle-3{
		background-image:url($neighborhood-slider-1-bg);
	}
	.triangle-4{
		background-image:url($neighborhood-slider-2-bg);
	}
	.triangle-5{
		position:relative;
		top:-30px;
		background-image:url($neighborhood-slider-2-bg);
	}
	.triangle-6{
		background-image:url($neighborhood-slider-3-bg);
	}
	.triangle-7{
		background-image:url($neighborhood-slider-3-bg);
	}
	h2{font-size:2em;text-align:center;}
		img{margin:1.5em auto;}
	.col{
		display:flex;
		flex-direction:column;
		justify-content:flex-start !important;
		align-items:center;
		@include flex(column, center, center);
		text-decoration:none;
		width:22.5%;
		text-align:center;
		p{
			margin:1.5em auto;
		}
		img{
			height:75px;
			margin:.75em auto;
			width:auto !important;
		}
		&:hover{
			transform:scale(1.06);
		}
	}
}