@media (max-width:$tablet-width){
	footer{
		display:flex;
		flex-direction:column;
		.icon-col{
			width:100% !important;
			flex-direction: row !important;
			img{
				margin:0 .75em;
			}
		}
		.flin-footer-links{
			flex-wrap:wrap;
		}
		.flin-footer-img-container{
			flex-direction:column !important;
			img{
				margin:0 !important;
			}
			margin-bottom:2em;
		}
	}
}
@media (max-width: $mobile-width){
	.flin-footer-insert{
		font-size:.75em;
	}
	footer{
		.gform_wrapper{
			margin-top:1em;
		}
	}
}