.floorplans{
	display:flex;
	position:relative;
	top:-200px;
	width:100%;
	justify-content:center;
	flex-wrap:wrap;
	.floorplan{
		width:30%;
		background:white;
		@include flex(column, flex-start, center);
		padding:1.25em;
		margin: 0 .5em 2.25em .5em;
		img{
			height:200px;
			margin:1em auto 2em auto;
		}
		.floorplan-title-wrapper{
			padding:1em;
			position:relative;
			top:-45px;
			background-image:url($floorplan-title-wrapper-bg);
			background-size:contain;
			background-position:center;
			background-repeat:no-repeat;
		}
		h3{
			font-size:1em;
			color:white;
			position:relative;
			top:-5px;
		}
		.floorplan-details{
			@include flex;
			flex-direction:column;
			p{
				margin:0;
			}
			strong{
				font-family:$sub-header-font;
			}
			margin-bottom:1em;
		}
		.floorplan-features{
			@include flex;
			flex-direction:column;
			ul,li,p{
				margin:0;
			}
			ul{
				li::marker{
					content:initial;
				}
			}
			p{
				text-transform:uppercase;
				color:$flin-black;
				font-weight:600;
			}
			margin-bottom:1em;
		}
		.floorplan-btn-gold{
			margin-top:2em;
		}
	}
}