@media (max-width:$tablet-width){
	.vision-floorplans{
		padding:2em 2em !important;
	}
	.floorplan{
		width:100% !important;
		.modal-close{
			left:90% !important;
		}
	}
	.floorplan-selector{
		width:100% !important;
	}
	.floorplans-row{
		width:100% !important;
		.col{
			width:100% !important;
		}
	}
	.floorplans{
		top:0;
	}
}